@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind components;
@layer components {
  .tab {
    @apply list-none flex self-stretch;
  }
  .tab li {
    @apply flex;
  }
  .tab li .navLink {
    @apply justify-center w-24;
  }
  .navLink {
    @apply flex items-center;
  }
  .navLink.active {
    @apply text-white bg-teal-600;
  }
  .contentArea {
    @apply mx-2 md:mx-20 lg:mx-44 py-6;
  }
  select,
  input[type='text'] {
    @apply border border-solid border-gray-600 p-2 outline-none w-full;
  }
}
